body{
    margin: 0;
    font-family:'Agbalumo';
    background-image: url(Kayu.png);
    background-size: 1000px;
}


header img{
    background-size:cover;
    background-repeat:no-repeat;
    background-size:cover;
}
nav a{
    text-decoration: none;
    color:green;
    font-size: 20px;
    padding: 5px 15px;
    font-family:monospace;
    text-align: center;
    color: darkred;
     border-radius:20px 0px 20px 0px;
    transition: 0.2s;
    
}
header{
    text-align: center;
    box-shadow: 0px 0px 5px;
    background-color:#FCB437;
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color:#F0791D;
}
nav{
    padding:10px;
    margin-top: 5px;
    margin-left: 32%;
}
nav a:hover{ 
    color:#F0791D;
    background-color:ivory;
    border-radius: 30px 30px 30px 30px;
    transition: 1s;
}

.deskripsiHome{
    font-family:initial;
    width: 40%;
    margin-top: 125px;
    margin-left: 50px; 
    & h3{
        color:orangered;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    & p{
        color:ivory;
    }
    & h1{
        color:rgb(202, 3, 3);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}

.home{
    background-image: url(ONCOM.jpg);
    height: 925px;
    background-size: cover;
    padding-top: 50px;
}   

.deskripsiHome a{
    text-decoration:none;
    font-family:serif;
    color:darkred;
    background: #FCB437;
    background: linear-gradient(30deg, rgba(252, 180, 55, 1) 0%, rgba(242, 158, 51, 1) 50%, rgba(237, 221, 83, 1) 100%);
    padding: 10px 30px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px -2px;
}

.deskripsiHome a:hover{
    box-shadow: 5px 5px 10px -2px;
    padding: 11px 31px;
}

.about{
    height: 900px;
        background-image: url(Kayu.png);
        background-size: 1000px;
}

.containerAbout{
    background-color: #F0791D;
    width: 50%;
    padding-top: 50px;
    margin-left: 25%;
    text-align: center;
    height: 100%;
    & h3{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 20px;
        color:blanchedalmond; 
    }
    & h1{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 20px;
        text-align: justify;
        color:firebrick;
        padding: 0px 20px 0px 20px;
    }
    & p{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 18px;
        text-align: justify;
        color:ivory;
        padding: 0px 20px 0px 20px;
    }
}

.containerAbout img{
    height: 200px;
    width: 50%;
}

section.profile{
    height: 800px;
    padding-top: 50px;
    background-color: #F0791D;
}
.cardProfile{
    background-color:#FDAE51;
    padding: 50px;
    margin-top: 75px;
    width:300px;
    margin: auto;
    text-align: center;
}
img{
    width:100%;
}
.medsos{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height:40px;
    padding-top:5px;
}
.medsos a{
    text-decoration: none;
    padding: 10px 10px;
    font-size: 24px;

}

section.howto{
    height: 650px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
     background-color: #F0791D;
    width: 78%;
    margin-left: 200px;
    & h3{
         font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 20px;
        color:blanchedalmond;
    }
    & p{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 15px;
        text-align: justify;
        color:firebrick;
    }
}

.howto img{
    height: 500px;
    padding-top: 75px;
}

.deskHowto{
    display:flex;
    width: 90%;
    margin: 20px;
}

.dokumentasi{
    width: 80%;
    margin-left:50px;
}