body{
    margin: 0;
}
.container{
    background-image: url (rumahbelva.jpg);
    height: 100%;
    width: 100%;
}
.container div{
    position: absolute;
   font-size: 100px;
}
.container div:nth-child(1){
    left: 5%;
    animation: animasi 5s infinite linear;
}
.container div:nth-child(2){
    left: 15%;
    animation: animasi 3s infinite linear;
}
.container div:nth-child(3){
    left: 25%;
    animation: animasi 4s infinite linear;
}
.container div:nth-child(4){
    left: 35%;
    animation: animasi 5s infinite linear;
}
.container div:nth-child(5){
    left: 45%;
    animation: animasi 4s infinite linear;
}
.container div:nth-child(6){
    left: 55%;
    animation: animasi 5s infinite linear;
}
.container div:nth-child(7){
    left: 65%;
    animation: animasi 3s infinite linear;
}
.container div:nth-child(8){
    left: 75%;
    animation: animasi 4s infinite linear;
}
.container div:nth-child(9){
    left: 85%;
    animation: animasi 5s infinite linear;
}
.container div:nth-child(10){
    left: 95%;
    animation: animasi 3s infinite linear;
}

@keyframes animasi{
    0%{
        transform:translateY(0px) scale(50%) rotate(0);
        opacity: 1;
    }
    100%{
        transform: translateY(500px) scale(50%) rotate(360deg);
    }
}